html{
    scroll-behavior: smooth;
}
@font-face {
    font-family: Terraria;
    src: url("../ANDYB.TTF");
}
body{
    background-color: #74b0ae;
    background-image: url("../img/body.jpg");
    background-repeat: no-repeat;
    background-position-y: 46rem;
}/*estilos del header*/
header{
    padding: 10px;
    position: fixed;
    width: 100%;
    opacity: 75%;
}
/*estilo del menu*/
.menu{
    display: flex;
    justify-content: center;
}
.menu li {
    list-style: none;
}
.menu li a{
    text-decoration: underline white;
    color: #eeeeeec9;
    margin: 20px;
    font-size: 20px;
    font-family: 'Terraria';
    font-weight: 700;
    
}/*estilo del banner*/
.menu li a:hover{
    color: #ffffff;
    font-size: 25px;
    transition: all 0.2s ease;
}
.banner{
    margin-top: -1px;
    background-image: url("../img/fondoalto.png");
    padding: 20rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Terraria';
    box-shadow: 0 0 10px black;
    text-decoration: underline white;
    font-size: 20px;
}
h1{
    color: white;
    text-align: left;
}/*estilo cuerpo*/
.text{
    display:inline;
    justify-content:left;
}

.text h2{
    font-family: 'Terraria';
    font-size: 25px;
    color: #eee;
    text-align:justify;
    text-decoration: underline #eee;
    margin-bottom: 5rem;
}
.text p{
    font-family: 'Terraria';
    font-size: 30px;
    color: #eee;
    text-shadow: 0 0 10px black;
}
.tinterox{
    display: flex;
}
.tinterox p{
    margin-top: 25rem;
    margin-bottom: -20rem;
    font-family: 'Terraria';
    text-shadow: 0 0 10px #ad7966;
    font-size: 20px;
}
.tinterox img{
    width: 60px;
    height: 80px;
    margin-top: 25rem;
    margin-bottom: -13rem;
}
h3{
    margin-left: 200px;
    margin-top: 200px;
}
.pp{
    color: white;
    font-family: 'Terraria';
}
.pajaro{
    /*margin-left: 200px;
    margin-top: 200px;*/
    width: 45rem;
}
.vid{
    width: 45rem;
    height: 405px;
}
/*fin estilo cuerpo*/
footer{
    /*background-image: url("https://thumbs.dreamstime.com/b/dark-hexagon-wallpaper-background-d-render-dark-hexagon-wallpaper-background-d-render-160588440.jpg");*/
    background-position: left;
    text-align: center;
    color: white;
    font-family: 'Terraria';
    padding: 2rem;
}
.huevo{
    font-size: 0.6px;
}














/*p{
    background-color: rgb(18, 20, 160);
    color: aliceblue;
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    border: 13px solid beige;
    border-radius: 2rem;
    margin-left: 10%;

}
.pedrito{
    margin: 50px 4px 100px 150px;
    border-radius: 50%;
    border: 5px solid #D4ADFC;
    padding: 2%;
    background-color: #0C134F;
}
*/